<h2>テスト投稿ページ</h2>
<%= form_with model: @book, url: '/books', method: :post do |f| %>
  <div>Title</div>
  <%= f.text_field :title %>

  <div>Body</div>
  <%= f.text_area :body %>

  <div><%= f.submit 'Create Book' %></div>
<% end %>